[Unit]
Description=Socket for on-demand activation of asto-backend

[Socket]
ListenStream=127.0.0.1:8011
Accept=no

[Install]
WantedBy=sockets.target
